<dl>
        <foreach name="house" item="v">
            <dd>
                <i><a href="{:U('Home/Anli/anli_art/id/'.$v['id'])}">标题</a></i>
                <a href="{:U('Home/Anli/anli_art/id/'.$v['id'])}">
                    <label><img src="__PUBLIC__/{$v.image}" style="width: 386px;height: 240px;"></label>
                    <div>
                        <h4>{$v.house_name}</h4>
                        <span>{$v.all_price}万丨 {$v.t_name}丨 {$v.size}m&sup2</span>
                    </div>
                </a>
            </dd>
        </foreach>
        </dl>
        <div class="pags">
        <ul class="pagination">
            {$show}
        </ul>
        </div>